<html lang="en">

<head>
    <title>Test 4</title>
</head>
<hr>
<div class="main-body">
    <h1>Register</h1>
    <br>
    <form method="post" action="/signIn">
        <p>Email:</p>
        <input class="form-control" id="email" name="email" type="text" />
        <p>Password:</p>
        <input class="form-control" id="password" name="password" type="text" />
        <br>
        <br/>
        <input type="submit" value="signIn" 
                style="background-color: green; 
                        color: white" />

        <input type="reset" value="Reset" 
        style="background-color: red; 
                color: white" /><br />
    </form>

    <h1><a href="/">Go Home</a></h1>
</div>
</html>